@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-black: #1b1d1f;
  --price-tag: #bee3cc;
  --popular-tag: #f6c768;
  --text-gray: #6f757c;
  --text-white: #fef7ee;
  --color-red: #ed735d;
  --color-black: #111315;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: var(--color-black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
